body{
  font-family: sans-serif;
  line-height:1.6;
  color:#333;
  margin: 0 auto;
  padding: 20px;
}

header{
  border-bottom: 2px solid #005bac;
  margin-bottom: 20px;
}

h1{
  color: #005bac;
}

.work-card{
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
}